body {
	font-family: "Helvetica";
	color: black;
	padding: 1em;
}

.intro {
	background-image: url("images/pexels-photo-199124.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 950px;
}

.intro h1 {
	font-family: fantasy;
	font-size: 64px;
	color: #167C32;
}

.intro h2 {
	font-size: 24px;
	font-family: cursive;
}

.summary {
	width: 500px;
	text-align: justify;
}

.preamble {
	width: 900px;
	position: relative;
	top: 192px;
}

.preamble h3 {
	width: 900px;
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

.preamble h3:hover {
	background-image: url("images/Enso.png");
	background-position: left 10px center;
	background-repeat: no-repeat;
	background-size: 34px;
	background-color: #167C32;
	transition-duration: 2.5s;
	transform: scale(1);
}

.explanation {
	width: 900px;
	position: relative;
	top: 180px;
	left: 80px;
}

.explanation h3 {
	width: 900px;
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

.explanation h3:hover {
	background-image: url("images/Enso.png");
	background-position: left 10px center;
	background-repeat: no-repeat;
	background-size: 34px;
	background-color: #167C32;
	transition-duration: 2.5s;
	transform: scale(1);
}

.participation {
	width: 900px;
	position: relative;
	top: 175px;
	left: 180px;
}

.participation h3 {
	width: 900px;
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

.participation h3:hover {
	background-image: url("images/Enso.png");
	background-position: left 10px center;
	background-repeat: no-repeat;
	background-size: 34px;
	background-color: #167C32;
	transition-duration: 2.5s;
	transform: scale(1);
}

.benefits {
	width: 900px;
	position: relative;
	top: 170px;
	left: 280px;
}

.benefits h3 {
	width: 900px;
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

.benefits h3:hover {
	background-image: url("images/Enso.png");
	background-position: left 10px center;
	background-repeat: no-repeat;
	background-size: 34px;
	background-color: #167C32;
	transition-duration: 2.5s;
	transform: scale(1);
}

.requirements {
	width: 900px;
	position: relative;
	top: 170px;
	left: 480px;
}

.requirements h3 {
	width: 900px;
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

.requirements h3:hover {
	background-image: url("images/Enso.png");
	background-position: left 10px center;
	background-repeat: no-repeat;
	background-size: 34px;
	background-color: #167C32;
	transition-duration: 2.5s;
	transform: scale(1);
}

.sidebar {
	position: absolute;
	top: 18px;
	right: 10px;
}

.sidebar a {
	color: black;
}

.sidebar a:hover {
	color: green;
}

.sidebar li {
	list-style: none;
	display: block;
	width: 400px;
}

.sidebar li:hover {
	transition-duration: 2.5s;
	transform: scale(1.1);
}

.design-selection {
	text-align: center;
	color: white;
	border-radius: 1em;
	padding: .35em;
}

.design-selection h3 {
	background-color: #000d1a;
	text-align: center;
	color: white;
	border-radius: 1em;
	padding: .35em;
}

.archives {
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

.resources {
	background-color: #000d1a;
	color: white;
	text-align: center;
	border-radius: 1em;
	padding: .35em;
}

footer {
	background-color: #000d1a;
	border-radius: 1em;
	text-align: center;
	position: relative;
	top: 170px;
}

footer a {
	color: white;
}
